version: '3'
services:
  goku:
    image: wsbenson/goku:latest
    build: .
    ports:
      - "3000:3000"
    environment: 
      - PORT=3000
      - ES_ADDRESS=http://es:9200
      - ES_MAPPING_FILE=/etc/mapping.json
    depends_on: 
      - es

  es:
    image: elasticsearch:7.6.2
    ports:
      - "9200:9200"
    environment: 
      - node.name=es01
      - cluster.name=local
      - network.host=0.0.0.0
      - discovery.seed_hosts=es01
      - cluster.initial_master_nodes=es01